
<div class="container">
   <div class="card">
      <p-accordion [activeIndex]="0"  >
      <p-accordionTab header="Temperature details ">
            <p-table [value]="tableData">
              <ng-template pTemplate="header">
                <tr>
                  <th>Date</th>
                  <th>Average temperature (degree Celsius)</th>
                  <th>Average temperature (degree Fahrenheit)</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData>
                <tr>
                  <td> {{ rowData.date | date:'dd/MM/yyyy' }}</td>
                  <td>{{ rowData.averageCelsius }}°C</td>
                  <td>{{ rowData.fahrenheit }}°F</td>   
                </tr>
              </ng-template>
            </p-table>
             <div>
    <p-accordion [activeIndex]="0"  >
      <p-accordionTab header="MonthWise details ">
        <!-- <table>
            <tr>
              <th style="width: 100px;"><p-dropdown [options]="months" [(ngModel)]="selectedMonth" optionLabel="name" (ngModelChange)="onMonthSelect()"></p-dropdown></th>
              <th style="width: 215px;">{{monthavg}}°C</th>
              <th style="width: 860px;">{{monthfahrenheit}}°F</th>
            </tr>
    </table> -->
    <table>
      <tr>
       <th style="width: 300px;">Months</th>
       <th style="width: 300px;">minimum celsius</th>
       <th style="width: 300px;">Maximum celsius</th>
       <th style="width: 300px;">Average celsius</th>
       <th style="width: 300px;">Average in fahrenheit</th>
      </tr>
      <tr>
        <th style="width: 300px;"><p-dropdown [options]="months" [(ngModel)]="selectedMonth" optionLabel="name" (ngModelChange)="onMonthSelect()"></p-dropdown></th>
        <th style="width: 300px;">{{monthmin}}</th>
        <th style="width: 300px;">{{monthmax}}</th>
        <th style="width: 300px;">{{monthavg}}°C</th>
        <th style="width: 300px;">{{monthfahrenheit}}°F</th>
      </tr>
    </table>
   
      </p-accordionTab>
    </p-accordion>
    
  </div>
      
      </p-accordionTab>
      </p-accordion>
      </div>
 




</div>
